<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos una organización protectora de animales especializada en la ayuda a perros y gatos maltratados y/o abandonados; una organización totalmente independiente que no recibe subvenciones de organismos oficiales, empresas ni partidos políticos.">
    <meta property="og:title" content="AdoptMe-Busquedas" />
    <meta name="keywords" content="adoptar, adopciones, adopcion, perros, gatos, cachorros">
    <title>Busqueda</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- STYLES     -->
    <link rel="stylesheet" href="../css/stylecopia.css">
</head>
<body>

    <header>
        <!-- <div class="logoCont">
            <img src="../img/blanco-logo.png" alt="Logo">
        </div>
        <nav>
            <a class="navItem" href="../index.html">Inicio</a>
            <a class="navItem" href="nosotros.html">Nosotros</a>
            <a class="navItem" href="adopciones.html">Adoptados</a>
            <div class="dropDownMenu">
                <a class="navItem" href="busquedas.html">Búsqueda</a>
                <div class="dropDown">
                    <a class="dropDownItem" href="busquedas.html">Perro</a>
                    <a class="dropDownItem" href="busquedas.html">Gato</a>
                </div>
            </div>
            <a class="navItem" href="contacto.html">Contacto</a>
        </nav> -->


        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand logoCont" href="#"><img src="../img/blanco-logo.png" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse navTablet" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active navItem" aria-current="page" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navItem" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navItem" href="adopciones.html">Adoptados</a>
                </li>
                <li class="nav-item dropdown dropDownMenu">
                    <a class="nav-link dropdown-toggle navItem" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Búsqueda
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Perro</a></li>
                    <li><a class="dropdown-item" href="#">Gato</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link navItem" href="contacto.html">Contacto</a>
                </li>
                </ul>
                
            </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <h1>Búsqueda</h1>
        <div>
            <form class="form" method="get">
                <div class="form-cont">
                    <label for="especie">Especie</label>
                    <br>
                    <select class="cont__select" name="especie" id="">
                        <option value="gato">Gato</option>
                        <option value="perro">Perro</option>
                    </select>
                </div>
                <div class="form-cont">
                    <label for="genero">Género</label>
                    <br>
                    <select class="cont__select" name="genero" id="">
                        <option value="macho">Macho</option>
                        <option value="hembra">Hembra</option>
                    </select>
                </div>
                <div class="form-cont">
                    <label for="edad">Edad</label>
                    <br>
                    <select class="cont__select" name="edad" id="">
                        <option value="cachorro">Cachorro</option>
                        <option value="adulto">Adulto</option>
                        <option value="mayor">Mayor</option>
                    </select>
                </div>
                <div class="form-cont">
                    <label for="tamanio">Tamaño</label>
                    <br>
                    <select class="cont__select" name="tamanio" id="">
                        <option value="chico">Chico</option>
                        <option value="mediano">Mediano</option>
                        <option value="grande">Grande</option>
                    </select>
                </div>
                <div class="form-cont">
                    <label for="ubicacion">Ubicación</label>
                    <br>
                    <input class="cont__input" type="text" name="ubicacion" required>
                </div>
            </form>
        </div>
        <div class="petCardCont">
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/gato1.jpg" alt="Gato">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Budda</h3>
                    <p>Gato joven, muy curioso y dormilón. Buena realción entre la gente y cualquier tipo de animal. Le encata los mimos y jugar a las escondidas.</p>
                </div>
            </div>
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/perro1.jpg" alt="Perro">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Lara</h3>
                    <p>Perra de chica/mediana altura, joven y muy enérgica. Se lleva bien con la gente pero le cuesta con otros animales, no muerde pero si ladra.</p>
                </div>
            </div>
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/gato1.jpg" alt="Gato">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Budda</h3>
                    <p>Gato joven, muy curioso y dormilón. Buena realción entre la gente y cualquier tipo de animal. Le encata los mimos y jugar a las escondidas.</p>
                </div>
            </div>
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/perro1.jpg" alt="Perro">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Lara</h3>
                    <p>Perra de chica/mediana altura, joven y muy enérgica. Se lleva bien con la gente pero le cuesta con otros animales, no muerde pero si ladra.</p>
                </div>
            </div>
        </div>
        <div class="petCardCont">    
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/gato1.jpg" alt="Gato">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Budda</h3>
                    <p>Gato joven, muy curioso y dormilón. Buena realción entre la gente y cualquier tipo de animal. Le encata los mimos y jugar a las escondidas.</p>
                </div>
            </div>
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/perro1.jpg" alt="Perro">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Lara</h3>
                    <p>Perra de chica/mediana altura, joven y muy enérgica. Se lleva bien con la gente pero le cuesta con otros animales, no muerde pero si ladra.</p>
                </div>
            </div>
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/gato1.jpg" alt="Gato">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Budda</h3>
                    <p>Gato joven, muy curioso y dormilón. Buena realción entre la gente y cualquier tipo de animal. Le encata los mimos y jugar a las escondidas.</p>
                </div>
            </div>
            <div id="cards" class="petCard busqCard">
                <div>
                    <img class="adopImg" src="../img/perro1.jpg" alt="Perro">
                </div>
                <div class="petCardInfo">
                    <h3 class="petName">Lara</h3>
                    <p>Perra de chica/mediana altura, joven y muy enérgica. Se lleva bien con la gente pero le cuesta con otros animales, no muerde pero si ladra.</p>
                </div>
            </div>
        </div>



        <!-- <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Edad</th>
                <th>Ubicación</th>
            </tr>
            <tr>
                <td>Lara</td>
                <td>Perro</td>
                <td>2</td>
                <td>Castelar</td>
            </tr>
            <tr>
                <td>Leia</td>
                <td>Perro</td>
                <td>6</td>
                <td>CABA</td>
            </tr>
            <tr>
                <td>Mora</td>
                <td>Perro</td>
                <td>8</td>
                <td>Castelar</td>
            </tr>
        </table> -->



    </main>
    <footer>
        <div class="footer">
            <div class="footer-smedia">
                <a href="#"><i class="fab fa-instagram footer-smedia__icon"></i></a>
                <a href="#"><i class="fab fa-facebook footer-smedia__icon"></i></a>
            </div>
            <p class="footer__text">Todos los derechos reservados. &copy MartinaAvalos - 2021</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>