<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos una organización protectora de animales especializada en la ayuda a perros y gatos maltratados y/o abandonados; una organización totalmente independiente que no recibe subvenciones de organismos oficiales, empresas ni partidos políticos.">
    <meta property="og:title" content="AdoptMe-Nosotros" />
    <meta name="keywords" content="adoptar, adopciones, adopcion, perros, gatos, cachorros">
    <title>Nosotros</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- STYLES     -->
    <link rel="stylesheet" href="../css/stylecopia.css">
</head>
<body>

    <header>
        <!-- <div class="logoCont">
            <img src="../img/blanco-logo.png" alt="Logo">
        </div>
        <nav>
            <a class="navItem" href="../index.html">Inicio</a>
            <a class="navItem" href="#">Nosotros</a>
            <a class="navItem" href="adopciones.html">Adoptados</a>
            <div class="dropDownMenu">
                <a class="navItem" href="busquedas.html">Búsqueda</a>
                <div class="dropDown">
                    <a class="dropDownItem" href="busquedas.html">Perro</a>
                    <a class="dropDownItem" href="busquedas.html">Gato</a>
                </div>
            </div>
            <a class="navItem" href="contacto.html">Contacto</a>
        </nav> -->


        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand logoCont" href="#"><img src="../img/blanco-logo.png" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse navTablet" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active navItem" aria-current="page" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navItem" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navItem" href="adopciones.html">Adoptados</a>
                </li>
                <li class="nav-item dropdown dropDownMenu">
                    <a class="nav-link dropdown-toggle navItem" href="busquedas.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Búsqueda
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="busquedas.html">Perro</a></li>
                    <li><a class="dropdown-item" href="busquedas.html">Gato</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link navItem" href="contacto.html">Contacto</a>
                </li>
                </ul>
                
            </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <div>
            <h1>Nosotros</h1>
        </div>
        <div class="main-cont">
            <p>Todos los animales que acogemos reciben la debida atención veterinaria (analíticas, tratamientos, cirugías, etc.) y son identificados y esterilizados antes de emprender la búsqueda de adoptantes comprometidos a proporcionarles una vida sana y feliz.</p>
            <p>Defendemos el “sacrificio cero”. Esto significa que establecemos una línea muy clara entre “el sacrificio” y “la eutanasia”. Nunca sacrificamos cachorros recién nacidos, ni animales cojos, ciegos, sordos o con enfermedades crónicas que sean tratables. Exclusivamente en caso de enfermedad en fase terminal que produzca un sufrimiento irreversible, se recurre a la eutanasia con toda la dignidad, el respeto y el amor que ellos merecen.</p>
            <p>La acción divulgativa promueve campañas en diferentes medios de comunicación con el claro objetivo de educar a la sociedad en el respeto hacia los animales y los derechos que tienen a disfrutar de una vida digna y saludable.</p>
            <p>También reclamamos una serie de derechos básicos para las personas responsables de perros y gatos, como el libre acceso a espacios públicos (transportes, comercios, museos, parques, playas…) a la vez que defendemos firmemente la tenencia responsable de animales.</p>
        </div>
        <div class="main-cont1">
            <img class="cont1__img" src="../img/refugio.jpg" alt="">
            <img class="cont1__img" src="../img/refugio2.jpg" alt="">
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-smedia">
                <a href="#"><i class="fab fa-instagram footer-smedia__icon"></i></a>
                <a href="#"><i class="fab fa-facebook footer-smedia__icon"></i></a>
            </div>
            <p class="footer__text">Todos los derechos reservados. &copy MartinaAvalos - 2021</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>